# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Packages
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock

# Md
IDEAS.md

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
.npmrc
.nvmrc

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

ignoreFile.ts
.trash
_trash
profile.jsonc
src/views/components
TEMPLATE.md
src/schemas/errorSchema.ts
.node-version
