@font-face {
  font-family: 'minecraft';
  src: url('assets/fonts/MinecraftRegular.woff2') format('woff2'),
    url('assets/fonts/MinecraftRegular.ttf') format('truetype'),
    url('assets/fonts/MinecraftRegular.otf') format('opentype');
}

@font-face {
  font-family: 'minecraftEnch';
  font-weight: normal;
  src: url('assets/fonts/SgaSmoothRegular.woff2') format('woff2');
}
